body {
    padding-top: 10px;
    padding-bottom: 20px;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Dotum, Helvetica, Arial, Verdana, sans-serif;
	background-color: transparent;
	color: #333;
    -webkit-font-smoothing: antialiased;
}

@media only screen 
and (max-device-width : 640px) {
.email-form {
    padding-left: 0px;
    padding-right: 0px;
}
.password-form {
    padding-left: 0px;
    padding-right: 0px;
}
}

.email-form {
    padding-left: 0px;
}
.password-form {
    padding-right: 0px;
}

.article-author {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.article-head .article-time {
    font-size: 11px;
    color: #636363;
    font-style: italic;
}

.article-head .article-modify {
    font-size: 10px;
}

.article-body {
    padding: 5px 0;
    margin: 0 0 5px;
    text-align: left;
    word-wrap:break-word;
    line-height: 1.7em;
    font-family: Arial;
    font-size: 13px;
    color: #666;
}